USE [BD_GAME]
GO
/****** Object:  Table [dbo].[TB_GAME]    Script Date: 8/15/2018 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_GAME](
	[CD_GAME] [int] IDENTITY(1,1) NOT NULL,
	[NM_GAME] [varchar](50) NOT NULL,
	[TOTAL_MORTE] [smallint] NOT NULL,
 CONSTRAINT [PK_TB_GAME] PRIMARY KEY CLUSTERED 
(
	[CD_GAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_MORTE]    Script Date: 8/15/2018 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_MORTE](
	[CD_MORTE] [int] IDENTITY(1,1) NOT NULL,
	[CD_PLAYER] [int] NOT NULL,
	[CD_GAME] [int] NOT NULL,
	[NM_MORTE] [varchar](50) NULL,
	[DANO] [smallint] NOT NULL,
 CONSTRAINT [PK_TB_MORTE] PRIMARY KEY CLUSTERED 
(
	[CD_MORTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_PLAYER]    Script Date: 8/15/2018 1:06:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_PLAYER](
	[CD_PLAYER] [int] IDENTITY(1,1) NOT NULL,
	[CD_GAME] [int] NOT NULL,
	[NM_PLAYER] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TB_PLAYER] PRIMARY KEY CLUSTERED 
(
	[CD_PLAYER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TB_MORTE]  WITH CHECK ADD  CONSTRAINT [FK_TB_MORTE_TB_GAME] FOREIGN KEY([CD_GAME])
REFERENCES [dbo].[TB_GAME] ([CD_GAME])
GO
ALTER TABLE [dbo].[TB_MORTE] CHECK CONSTRAINT [FK_TB_MORTE_TB_GAME]
GO
ALTER TABLE [dbo].[TB_MORTE]  WITH CHECK ADD  CONSTRAINT [FK_TB_MORTE_TB_PLAYER] FOREIGN KEY([CD_PLAYER])
REFERENCES [dbo].[TB_PLAYER] ([CD_PLAYER])
GO
ALTER TABLE [dbo].[TB_MORTE] CHECK CONSTRAINT [FK_TB_MORTE_TB_PLAYER]
GO
ALTER TABLE [dbo].[TB_PLAYER]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLAYER_TB_GAME] FOREIGN KEY([CD_GAME])
REFERENCES [dbo].[TB_GAME] ([CD_GAME])
GO
ALTER TABLE [dbo].[TB_PLAYER] CHECK CONSTRAINT [FK_TB_PLAYER_TB_GAME]
GO
